<p>
  <a href="https://github.com/healthypackrat/duo-ldoce">リポジトリに戻る</a>
</p>

<div class="list-group">
  <%- section_numbers.each do |section_number| -%>
    <a class="list-group-item list-group-item-action" href="<%=h '%02d.html' % section_number %>">SECTION <%=h section_number %></a>
  <%- end -%>
</div>
